@keyframes info-bg {
  0% { background-color: #5400fc; }
  50% { background-color: #fc00c5; }
  100% { background-color: #5400fc }
}

@keyframes conservative-bg {
  0% { background-color: red; }
  50% { background-color: #ff6554; }
  100% { background-color: red; }
}

@keyframes liberal-bg {
  0% { background-color: blue; }
  50% { background-color: #54b5ff; }
  100% { background-color: blue; }
}

input[type='range'] {
  background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 7px;
  width: 356px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  margin-bottom: 10%;
}

.small-text-container {
  padding-left: 3px;
  padding-right: 3px;
}

.medium-text-container {
  color: white;
  background: linear-gradient(to right, #34c9eb, #0028f2);
  border-radius: 5px;
  padding: 3px;
}

.info-container {
  border-radius: 5px;
  color: white;
  animation: info-bg 2.5s infinite;
}

.bias-center {
  border-radius: 5px;
  background-color: black;
  color: white;
}

.bias-conservative {
  border-radius: 5px;
  color: white;
  animation: conservative-bg 2.5s infinite;
}

.bias-liberal {
  border-radius: 5px;
  color: white;
  animation: liberal-bg 2.5s infinite;
}

.article-link {
  border-radius: 5px;
  background-color: purple;
  color: white;
  text-decoration-color: white;
}

#landing h1 {
  font-size: 8vh;
}

#landing input {
  color: #2d6ff4;
  background-color: black;
}

#topHeadlines .card {
  color: #2d6ff4;
  background-color: black;
  border: 2px solid #2d6ff4;
  padding: 2.5%;
  transition-duration: 0.5s;
}

#topHeadlines .card:hover {
  color: white;
  background-color: #2d6ff4;
  border: 2px solid #2d6ff4;
}

#topHeadlines a {
  color: white;
}

#filter select {
  background-color: black;
  border: 2px solid #2d6ff4;
  color: #2d6ff4;
}

#contactHeader h1, h2, h3, h4, h5 {
  color: #2d6ff4;
}

#contact label {
  color: #2d6ff4;
}

#contact input {
  color: #2d6ff4;
  background-color: black;
}

#contact textarea {
  color: #2d6ff4;
  background-color: black;
}

#contactSubmit {
  color: #2d6ff4;
  background-color: black;
  border: 2px solid #2d6ff4;
  padding: 0.5%;
  transition-duration: 0.5s;
}

#contactSubmit:hover {
  color: white;
  background-color: #2d6ff4;
  border: 2px solid #2d6ff4;
}

::placeholder {
  color: #2d6ff4;
}

span {
  color: #2d6ff4;
}

body {
  background-color: black;
}
